body {
    border: 1px solid grey;
    background-color: #e5e5e5;
    font-family:  Courier New;
    margin: 0px;
    padding: 0px;
   }
h1 {
    text-align: left; /* valeurs possibles : left | right | center | justify */
    color: #4C5454;
    font-size: 22px; /* 1em : taille par défaut de la police de caractères défini sur le navigateur */
    /*font-style: italic; /* valeurs possibles : normal | italic */
    font-weight: bold; /* valeurs possibles : normal | bold */
    /*text-decoration: underline; /* valeurs possibles : none | underline | overline | line-through | blink 
   */
    text-transform: capitalize; /*text-transform: none | capitalize | uppercase | lowercase */ 
    line-height: 200%; /*valeurs possibles : normal | nombre | % */ 
    padding-left: 20px;
}
p{
    padding-left: 50px;
}
#image{
    position: relative ;
    width: 400px;
    left: 760px;
    top: 95px;

}
ul{
    padding-left: 100px;
}
ol{
    padding-left: 100px;
}
