body {
    background-color: #e5e5e5;
    font-family:  Courier New;
    margin: 0px;
    padding-left: 22px;
    font-size: 16px;
   }
#presentation{
    background: #DDDDDD;
    text-align: left;
}   
th{
    background: #FF715B;
    
}